@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    main {
        flex-grow: 2;
        .description {
            overflow: hidden;
            word-wrap: break-word;
        }
    }

    footer {
        min-height: 35px;
        padding: 10px;
        color: #fff;
    }
}
